NEXTAUTH_URL=
DATABASE_URL=
NEXTAUTH_SECRET=

S3_ARTIFAC_BUCKET_ENDPOINT=
S3_ARTIFAC_BUCKET_ACCESS_KEY=
S3_ARTIFAC_BUCKET_SECRET_KEY=
S3_ARTIFAC_BUCKET=
S3_ARTIFAC_BUCKET_REGION=

S3_TEST_DOCUMENTS_BUCKET_ENDPOINT=
S3_TEST_DOCUMENTS_BUCKET_ACCESS_KEY=
S3_TEST_DOCUMENTS_BUCKET_SECRET_KEY=
S3_TEST_DOCUMENTS_BUCKET=
S3_TEST_DOCUMENTS_BUCKET_REGION=

SEED_QA_EMAIL=
SEED_QA_PASSWORD=""

SEED_SUPER_ADMIN_EMAIL=
SEED_SUPER_ADMIN_PASSWORD=""

LANGGRAPH_API_URL=
LANGGRAPH_QA_ID=
LANGGRAPH_REQUIREMENTS_API_URL=
LANGGRAPH_ASSISTANT_REQUIREMENTS_ID=
AI_AGENT_TOKEN_ENCRYPTION_KEY=
AI_AGENT_TOKEN_TTL_DAYS=
AI_AGENT_TOKEN_ROTATE_BEFORE_DAYS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_LANGGRAPH_API_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=